<div class=" m-5">
    <div class="row g-3">
        <div class="col-12 col-lg-4">
            <a href="@Url.Action("InserisciCliente", "Clienti")" class="text-decoration-none text-black">
                <div class="card" style="height:10em">
                    <div class="card-body">
                        <h5 class="card-title">Inserisci Cliente</h5>
                        <p class="card-text">Inserisci un cliente nuovo</p>

                    </div>
                </div>
            </a>
            
        </div>
        <div class="col-12 col-lg-4">
            <a href="@Url.Action("InserisciSpedizione", "Spedizioni")" class="text-decoration-none text-black">
                <div class="card" style="height:10em">
                    <div class="card-body">
                        <h5 class="card-title">Inserisci Spedizione</h5>
                        <p class="card-text">Inserisci una nuova spedizione</p>

                    </div>
                </div>
            </a>
            
        </div>
        <div class="col-12 col-lg-4">
            <a href="@Url.Action("AggiornamentoSpedizioni", "AggiornamentoSpedizioni")" class="text-decoration-none text-black">
                <div class="card" style="height:10em">
                    <div class="card-body">
                        <h5 class="card-title">Aggiornamento Spedizione</h5>
                        <p class="card-text">Inserisci l'aggiornamento di una spedizione</p>

                    </div>
                </div>
            </a>
            
        </div>
    </div>
</div>
