@model IEnumerable<EsercizioSettimanale4Marzo.Models.Spedizioni>

<h2>Spedizioni in consegna oggi</h2>

@section Scripts {
    <script type="text/javascript">
     function formatDate(jsonDate) {
         var date = new Date(parseInt(jsonDate.substr(6)));
         return date.toLocaleDateString();
     }

    $(document).ready(function () {
        $.ajax({
             url: '@Url.Action("SpedizioniInconsegnaOggi", "Backend")',
             type: 'GET',
             dataType: 'json',
            success: function (data) {
                $.each(data, function (index) {
                    var row = $('<tr><td>' + data[index].IdSpedizione + '</td><td>' + data[index].IdCliente + '</td><td>' + formatDate(data[index].DataSpedizione) + '</td><td>' + data[index].Peso + '</td><td>' + data[index].Citta + '</td><td>' + data[index].Indirizzo + '</td><td>' + data[index].NomeDestinatario + '</td><td>' + data[index].CostoSpedizione + '</td><td>' + formatDate(data[index].ConsegnaPrevista) + '</td></tr>');
                    $('#tabella').append(row);
                    ;
                } )
             },
             error: function (error) {
                  console.log(error);
             }
           });
    });
    </script>
}

<table class="table" id="tabella">
    <tr>
        <th>Id Spedizione</th>
        <th>Id Cliente</th>
        <th>Data Spedizione</th>
        <th>Peso</th>
        <th>Citta</th>
        <th>Indirizzo</th>
        <th>Nome Destinatario</th>
        <th>Costo Spedizione</th>
        <th>Consegna Prevista</th>
    </tr>
   
</table>